<nav class="flex items-center justify-center flex-wrap bg-black py-3 px-10">
    <div class="flex items-center text-white flex-shrink-0">
      <span class="text-xl tracking-tight text-emerald-200">For Developers</span>
      <span class="px-4 text-xl">/</span>
      <span class="text-xl tracking-tight text-slate-300">For Recruiters</span>
    </div>
</nav>
